:root {
 --white: hsl(0, 0%, 100%);
 --lightPink: hsl(275, 100%, 97%);
 --lightPurple: hsl(292, 16%, 49%);
 --darkPurple: hsl(292, 42%, 14%);
}

@font-face {
    font-family: 'worksans';
    src: url('assets/fonts/WorkSans-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'worksans';
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--lightPink);
    font-size: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--white);
    border-radius: 15px;
    width: 500px;
    overflow: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 15px;
    max-width: 500px;
    padding: 30px;
    row-gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    column-gap: 10px;
}

.header-logo, .accordion-item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.accordion-item-header {
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.accordion-item-title:hover {
    color: var(--lightPurple);
}

.accordion-item-content {
    font-weight: 300;
    margin-top: 15px;
}


@media screen and (max-width: 500px) {
    .card {
        max-height: 80%;
        max-width: 90%;
    }
}
